<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">This is the IEEE Student Branch of NAIST, built in 2003. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mission</h4>
                                    <h4 class="subheading">Be the bridge for learning the edge of technology to NAIST students </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We aim to support students through our events to learn the edge of technology while having fun and making strong international connections!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Vision</h4>
                                    <h4 class="subheading">Become an exemplary Graduate IEEE SB in Japan!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We want to bring inspiration and support not only to students from our school, but to those of other graduate schools in Japan! We believe that collaboration is the key!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>