<!-- Activities Section -->
    <section id="activities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Activities</h2>
                    <h3 class="section-subheading text-muted">These are some of the activities that we hold together with other Student Branches in Kansai Section</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="activity-heading">English Presentation Competition</h4>
                    <p class="text-muted"> Research presentations from students of universities in Kansai section to evaluate and improve english ability</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-venus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="activity-heading">Women in Engineering Symposium</h4>
                    <p class="text-muted">Lectures from female researchers and engineers, and space to interact for female researchers and students</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="activity-heading">Research Exchange Meeting</h4>
                    <p class="text-muted">Research presentations from students of universities in Kansai section to share research from different areas and universities</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="activity-heading">Brainstorming Competition</h4>
                    <p class="text-muted">Form groups to practice and improve brainstorming techniques to solve problems</p>
                </div>
            </div>
        </div>
    </section>